---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.svelte";
---

<Layout title="next page">
  <main>
    <section>
      <h1>Element on scroll</h1>
    </section>
    <Map client:load />
  </main>
</Layout>
