<section>
  <div class="subheader" style="margin: 4em 0 4em 0;">
    เพื่อที่จะเข้าใจเรื่องนี้ ก่อนอื่น มาดูกันว่า ธนาคารทำงานยังไง<br />
  </div>

  <div>
    <img src="src/bankswork1.0.png" width="500" />
  </div>

  <div class="subheader" style="margin: 4em 0 4em 0;">
    พูดง่าย ๆ ว่าธนาคารเอาเงินฝากของเราไปให้คนอื่นกู้
  </div>
  <div class="subheader" style="margin: 4em 0 4em 0;">
    <h2 class="word">การกู้ ในอีกแง่หนึ่งคือการเข้าถึงแหล่งเงินทุน</h2>
    <h3 class="word">
      ถ้าเศรษฐกิจทุกจังหวัดดีเหมือนกัน
      อัตราส่วนการฝากและการกู้ในแต่ละจังหวัดควรจะใกล้ ๆ กัน
    </h3>
  </div>
</section>

<style>
  .subheader {
    font-size: 3em;
    margin: 50px 0 50px 0;
    text-align: center;
  }
  div:nth-child(3) {
    color: blue;
  }
</style>
