<section style="background-color: white;">
  <div class="subheader">
    เพื่อที่จะเข้าใจเรื่องนี้ ก่อนอื่น มาดูกันว่า ธนาคารทำงานยังไง<br />
  </div>

  <div>
    <img src="/entrepreneur1.0.png" width="300" />
  </div>

  <div class="subheader" style="color: #106AF0;">
    <span style="font-family: 'Chonburi'"
      >พูดง่าย ๆ ว่าธนาคารเอาเงินฝากของเราไปให้คนอื่นกู้<br /><br /><br /><br
      /></span
    >
  </div>
  <div class="subheader">
    <p class="word">การกู้ ในอีกแง่หนึ่งคือการเข้าถึงแหล่งเงินทุน</p>
    <p class="word" style="width: 80vw">
      ถ้าเศรษฐกิจทุกจังหวัดดีเหมือนกัน
      อัตราส่วนการฝากและการกู้ในแต่ละจังหวัดควรจะใกล้ ๆ กัน
    </p>
  </div>
</section>

<style>
  .subheader {
    font-size: 3em;
    margin: 50px 0 50px 0;
    text-align: center;
    color: #106af0;
  }
</style>
