<section>
    
<div class="subheader" style="margin: 4em 0 4em 0;">
    เพื่อที่จะเข้าใจเรื่องนนี้ ก่อนอื่น มาดูกันว่า ธนาคารทำงานยังไง<br />
</div>

<div>
    <img src="src/bankswork.png" width="460" >
</div>

<div class="subheader" style="margin: 4em 0 4em 0;">
    พูดง่ายๆว่าธนาคารเอาเงินฝากของเราไปให้คนอื่นกู้
</div>
</section>

<style>
.subheader 
{
    font-size: 1.4em;
    margin: 50px 0 50px 0;
    text-align: center;
}
</style>