---
import LdrMap from "./LdrMap.svelte";
import Bubble from "./Bubble.svelte";
---

<script>
  const selectElement = document.getElementById("filter");
  const ldrmap = document.getElementById("LdrMap");
  const bubble = document.getElementById("Bubble");

  selectElement.addEventListener("change", (event) => {
    if (event.target.value === "map") {
      bubble.style.display = "none";
      ldrmap.style.display = "block";
    } else if (event.target.value === "bubble") {
      ldrmap.style.display = "none";
      bubble.style.display = "block";
    }
  });
</script>

<div>
  <p>
    แทนที่เงินฝากของคนต่างจังหวัดจะถูกนำมาหมุนเวียนในจังหวัดตัวเอง
    แต่ทำไมเงินของคนในจังหวัด เช่น สุโขทัย พิจิตร ระนองหรือจังหวัดอื่น ๆ
    ต้องถูกเอาไปให้คนกรุงเทพกู้? สรุปแล้ว
    เรื่องเงินฝากก็เหมือนเรื่องภาษีหรืออีกหลาย ๆ เรื่อง
    ที่ทรัพยากรต่างจังหวัดต้องถูกโยกไปให้ส่วนกลางอย่างกรุงเทพ
    ทำให้เกิดความเหลื่อมล้ำทางการพัฒนา
  </p>
</div>
<div id="graph-container">
  <div id="LdrMap"><LdrMap client:only="svelte" /></div>
  <div id="Bubble"><Bubble client:only="svelte" /></div>
  <select id="filter">
    <option value="map">กราฟอัตราส่วนเงินกู้ / เงินฝาก</option>
    <option value="bubble">จำนวนเงินกู้ / เงินฝาก</option>
  </select>
</div>

<style>
  p {
    width: 90vh;
    text-align: justify;
  }
  div#graph-container {
    display: flex;
  }
  select#filter {
    max-height: 5vh;
  }
</style>
