---

---

<script>
  const button1 = document.getElementById("yes1");
  const button2 = document.getElementById("yes2");

  button1.addEventListener("click", function () {
    document.body.style.overflow = "auto"; // Enable scrolling
    button1.classList.add("selected");
    button2.classList.remove("selected");
  });

  button2.addEventListener("click", function () {
    document.body.style.overflow = "auto"; // Enable scrolling
    button2.classList.add("selected");
    button1.classList.remove("selected");
  });
</script>

<div><h2>ไงคุณเจ้าของธุรกิจ อยากกู้เงินไปขยายธุรกิจไหม</h2></div>
<div class="button-container">
  <button id="yes1">อยาก</button><button id="yes2">อยากเหมือนกันแต่สีแดง</button
  >
</div>

<style>
  body {
    overflow:;
    margin: 0;
  }
  h2 {
    text-align: center;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  button {
    margin: 5vh;
    width: 50vh;
    height: 7vh;
    stroke-width: 0%;
  }
  button.selected {
    font-weight: bold;
  }
  button:nth-child(1) {
    background-color: aqua;
  }
  button:nth-child(2) {
    background-color: coral;
  }
</style>
