---

---

<script>
  const button1 = document.getElementById("yes1");
  const button2 = document.getElementById("yes2");

  button1.addEventListener("click", function () {
    document.body.style.overflow = "auto"; // Enable scrolling
    button1.classList.add("selected");
    button2.classList.remove("selected");
  });

  button2.addEventListener("click", function () {
    document.body.style.overflow = "auto"; // Enable scrolling
    button2.classList.add("selected");
    button1.classList.remove("selected");
  });
</script>

<div class = main_header><h2>ไงคุณเจ้าของธุรกิจ อยากกู้เงินไปขยายธุรกิจไหม</h2></div>
<div class="button-container">
  <button id="yes1">อยาก</button><button id="yes2">อยาก อยาก อยาก อยาก อยาก</button
  >
</div>

<style>
  body {
    overflow:;
    margin: 0;
  }
  h2 {
    text-align: center;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main_header {
  text-align: center;
  margin-bottom: 20px;
  } 

  .main_header h2 {
  font-size: 2.4rem; 
  font-weight: bold;
  color: #ffffff; 
  text-shadow: 5px 1px 2px rgba(0, 0, 2, 0.2); /* Add a subtle shadow */
  }
  .button-container button {
  margin: 5vh;
  width: 70vh;
  height: 25vh;
  margin-right: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* For screens wider than 768px, use a larger font size */
@media (min-width: 768px) {
  .button-container button {
    font-size: 2.2rem;
  }
}


  .button-container button:hover {
  background-color: #f0f0f0; /* Change background color on hover */
  }

  button.selected {
    font-weight: bold;
  }
  .button-container button:nth-child(1) {
  background-color: aqua;
  }

  .button-container button:nth-child(2) {
  background-color: coral;
  }

</style>
